# our executables
/a03/pipe/pipe
/a03/DoublePipe/pipe
/a03/popen/popen
/a03/skeleton/skel

/a03/client
/a03/condvar
/a03/pthread
/a03/server
/a03/signal
/a04/popen/popen
/a04/skeleton/skel.o
/a04/skeleton/skel

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
